@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 135px 0 135px;

	&--bg-light-blue{
		background: #f1f6fb;
	}

	&__wrap{
		@include clearfix;
		max-width: 1180px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		text-align: center;
		margin: 0 0 40px;
		font-weight: 500;
		font-size: 44px;
		line-height: (42/30);

		&--small{
			font-size: 30px;
		}
	}

	&__text{
		margin: 0 auto 30px;
		text-align: center;	
		color: $text-grey;
		font-weight: 300;
		max-width: 900px;
	}

	&__button-placeholder{
		text-align: center;
	}
}


/* ==========================================================================
 * home
 * ========================================================================== */

.home{

	padding: 20px 0 70px;
	min-height: 603px;

	&--parents{
		background: #dbdcde url(../images/bg/home-parents.jpg) 50% 0 no-repeat;
	}

	&--teachers{
		position: relative;
		background: #fff;

		&:before{
			content: '';
			background: url(../images/bg/home-teachers.jpg) 50% 0 no-repeat;
			height: image-height('../assets/images/bg/home-teachers.jpg');
			width: image-width('../assets/images/bg/home-teachers.jpg');
			position: absolute;
			top: 118px;
			bottom: 0;
			right: 60%;
		}
	}

	&__wrap{
		position: relative;
	}

	&__logo-placeholder{
		margin: 0 0 90px;
	}

	&__logo{
		display: inline-block;
		text-indent: -9999px;
		@include sprite($investstrakh);
	}


	&__content{
		margin: 0 0 0 500px;
	}

	&__title{
		text-align: left;
		font-size: 44px;
	}

	&__text{
		text-align: left;
		font-size: 18px;
		font-weight: 400;
	}
}

/* ==========================================================================
 * kid-safety
 * ========================================================================== */

.kid-safety{
	background: #fff url(../images/bg/kid-safety.jpg) 50% 50% no-repeat;
	background-size: cover;
	padding: 270px 0;
	color: #fff;

	&__title{
	}

	&__text{
		color: #fff;
	}
}

/* ==========================================================================
 * police
 * ========================================================================== */

.police{
	background: #eeeff0;
	padding: 100px 0;

	&__image-placeholder{
		float: left;
		width: 431px;
	}

	&__image{
		vertical-align: top;
		width: 100%;
		height: auto;
		box-shadow: 0 10px 35px rgba(0,0,0,.2);
	}

	&__content{
		margin: 0 0 0 480px;
	}

	&__title{
		text-align: left;
		font-size: 36px;
	}

	&__list{

		
		&--dms{

			.police__text{
			color: $text;
			}
		}
	}

	&__item{
		margin: 0 0 35px;
	}

	&__text{
		text-align: left;
		font-size: 18px;
		line-height: (27/18);
		margin: 0;
		color: $text-grey;
	}

	&__subtitle{
		font-size: 18px;
		font-weight: 500;
		margin: 0 0 8px;
	}
}

/* ==========================================================================
 * dms-advanatges
 * ========================================================================== */

.dms-advanatges{
	background: #096250 url(../images/bg/dms-advantages.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: #fff;
	padding: 200px 0;
	

	&__list{
		text-align: left;
		margin: 0 -5% -30px 0;
		counter-reset: dms;

	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 19%;
		margin: 0 5% 30px 0;
		counter-increment: dms;
		font-size: 18px;
		font-weight: 300;
		line-height: (24/18);
		
		&:before{
			content: counter(dms)'.';
			display: block;
			margin: 0 0 10px;
			font-size: 44px;
			font-weight: 500;
		}
	}

}

/* ==========================================================================
 * footer
 * ========================================================================== */

.footer{
	background: $dark-blue;
	color: #fff;
	text-align: center;
	padding: 70px 0;

	&__text{
		font-size: 18px;
		margin: 0 0 15px;
	}
}
 
